@{
    ViewData["Title"] = "Home";
}

@* <div class="text-center">
    <h1 class="display-4">Jeffrey Alzate</h1>
    <p>Results-driven software developer with 7 years of experience in financial and commercial environments, 
        specializing in Microsoft technologies, database systems, and production support. Strong background in troubleshooting, 
        system optimization, and client support. Recently completed Canadian education and ready to re-enter the workforce 
        after a career pause dedicated to relocation and family establishment in Canada.</p>
</div> *@
<div class="container mt-4">

    <h3 class="card-title mb-3">Jeffrey Alzate</h3>

    <div class="card shadow-sm rounded-3">
        <div class="card-body">
            <p class="text-justify-custom">
                A software developer with 7 years of experience in financial and commercial environments,
                specializing in Microsoft technologies, database systems, and production support. Strong background in troubleshooting,
                system optimization, and client support. Recently completed Canadian education and ready to re-enter the workforce
                after a career pause dedicated to relocation and family establishment in Canada.
            </p>
        </div>
    </div>

</div>